

<!DOCTYPE html>
<html lang="en">
<head>
    <title>HomePage</title>

    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,400%7COpen+Sans:400,400i,700%7CLibre+Baskerville:400i' rel='stylesheet'>


    <script>
        function Handle(){

        }

        window.onload=function(){
            //要初始化的东西

            getRecentRecords();
            getFriendRecords();
            friendCate();
//            setIcon();
        }

        function getFriendRecords(){

            $.ajax({
                url: 'getRecords',
                type: 'post',
                contentType: "application/json",
                traditional: false,
                async: false,
                success: function (data) {
                    var $content = $('#content');
                    $content.html("");
                    //console.log(data);
                    var picArr = new Array();
                    for(var i = 0 ; i < data.length;i++){
                    var $article = $( '<article class="entry-item large-post">'+
                        '<div class="entry-header">'+
//                        '<a href="#" class="entry-category">'+tag+'</a>'+
                        '<h2 class="entry-title">'+
                        '<a href="/detailInfo?recordid='+data[i].recordid+'">'+data[i].content+'</a>'+
                        '</h2>'+
                        '</div>'+
                        '<a href="/detailInfo?recordid='+data[i].recordid+'" class="entry-slider">'+
                        '<div class="flexslider" id="flexslider">'+
                        '<div id="imgdiv'+i.toString()+'" style="height:600px">'+
                        '</div>'+
                        '<ul style="height:0px;" class="flex-direction-nav">'+
                        '<li class="flex-nav-prev"><a class="flex-prev" id="prev'+i.toString()+'"><i class="fa fa-angle-left">'+
                        '</i></a></li>'+
                        '<li class="flex-nav-next"><a class="flex-next" id="next'+i.toString()+'"><i class="fa fa-angle-right">'+
                        '</i></a></li></ul>'+
                        '</div>'+
                        '</a>'+
                        '<div class="entry-wrap">'+
                        '<div class="entry">'+
                        '<div class="entry-meta-wrap clearfix">'+
                        '<ul class="entry-meta">'+
                        '<li class="entry-date">'+
                        '<a >'+data[i].createTime+'</a>'+
                    '</li>'+
                        '<li class="entry-comments">'+
                        '<a href="/userInfo?username='+data[i].createrid+'">Author: '+data[i].createrid+'</a>'+
                        '</li>'+
                    '<li class="entry-comments">'+
                        '<a href="/detailInfo?recordid='+data[i].recordid+'">'+data[i].relayNums+ ' Relays</a>'+
                    '</li>'+
                    '<li class="entry-comments">'+
                        '<a href="/detailInfo?recordid='+data[i].recordid+'">'+data[i].commentNums+ ' Comments</a>'+
                    '</li>'+
                    '<li>'+
                    '<a href="/detailInfo?recordid='+data[i].recordid+'">'+data[i].likeNums+' <i class="fa fa-heart"></i>'+
                        '</a>'+
                        '</li>'+
                        '</ul>'+
                        '</div>'+
                        '</div>'+
                        '</article>').appendTo($content);

                    getPics(data[i].recordid,picArr,i);

                    var $imgdiv = $('#imgdiv'+i.toString());
                    var def = picArr[i][0].path;
                    $imgdiv.css("background-image","url("+def+")");
                    $imgdiv.css("background-position","center");
                    $imgdiv.css("background-size", "cover");
                    var nowNum = 0;
                    //console.log(picArr[i]);
                    $('#prev'+i.toString()).click(function () {

                        var thisid=$(this).attr("id");
                        thisid= thisid.replace("prev","");
                        var $thisimg = $('#imgdiv'+thisid);
                        thisid = thisid -0;
                        if(nowNum==0){
                            nowNum=picArr[thisid].length-1;
                        }else nowNum-=1;
                        console.log(picArr[thisid]);
                        var bc = picArr[thisid][nowNum].path;
                        $thisimg.css("background-image","url("+bc+")");
                    });
                        $('#next'+i.toString()).click(function () {
                            var thisid=$(this).attr("id");
                            thisid= thisid.replace("next","");
                            var $thisimg = $('#imgdiv'+thisid);
                            thisid = thisid -0;
                            if(nowNum==(picArr[thisid].length-1)){
                                nowNum=0;
                            }else nowNum+=1;
                            //console.log(picArr[thisid]);
                            var bc = picArr[thisid][nowNum].path;
                            $thisimg.css("background-image","url("+bc+")");
                        });
                    }
                },
                error: function (){
                    console.log("x");
//                    alert("初始化最近的消息失败！");
                }
            });
        }
        function getRecentRecords(){
            $.ajax({
                url: 'upload/headline',
                type: 'post',
                contentType: "application/json",
                traditional: false,
                async: false,
                success: function (data) {
//                  console.log(data.record.length);
                    var pic = new Array();
                    for(var i = 0; i < data.record.length;i++){
                        document.getElementById("content"+(i+1).toString()).innerHTML = data.record[i].content;
//                        document.getElementById("img"+(i+1).toString()).setAttribute("href","/detailInfo?recordid="+data.record[i].recordid);
                        document.getElementById("time"+(i+1).toString()).innerHTML = data.record[i].createTime;
                        getFirstPics(data.record[i].recordid,pic,i);
                        //console.log(pic);
                        document.getElementById("img"+(i+1).toString()).src = pic[i].path;
                        document.getElementById("tag"+(i+1).toString()).innerHTML = pic[i].tag;
                    }
//                    document.getElementById("img1").src="../../database/images/20151122075121_ijHE2.jpeg"
                },
                error: function (){
                    console.log("x");
//                    alert("初始化最近的消息失败！");
                }
            });

        }
        function getFirstPics(val,res,i){
            $.ajax({
                url: 'upload/headlinepic',
                type: 'get',
                contentType: "application/json",
                traditional: false,
                async: false,
                data:{recordid: val},
                success: function (data) {
                    res[i] = data.pic;
//                    console.log(data.pic);
                },
                error: function(){
                    console.log("ree");
                }
            });
        }
        function getPics(val,res,i){
            $.ajax({
                url: 'getRecords/getPics',
                type: 'get',
                contentType: "application/json",
                traditional: false,
                async: false,
                data:{recordid: val},
                success: function (data) {

                    res[i] = data;
                    //console.log(res);
//                    console.log(data.pic);
                },
                error: function(){
                    console.log("ree");
                }
            });
        }

        function friendCate() {
            $.ajax({
                url: 'userInfo/getCategories',
                type: 'post',
                contentType: "application/json",

                traditional: false,
                async: false,
                success: function (data) {
                    //console.log(data.category);
                    var $cate = $('#categories');
                    for (var i = 0; i < data.category.length; i++) {
                        var category = data.category[i].category
                        if (category != "全部") {
                            var $cateRadio = $('   <li> <a id="'+category+'" >'+category+'</a></li>');

                            $cateRadio.appendTo($cate);
                            $('#'+category).click(function () {
                                var thisid = $(this).attr("id");
                                $.ajax({
                                    url: 'getRecords/setCategorySession',
                                    type: 'get',
                                    contentType: "application/json",
                                    data:{cateSession:thisid},
                                    traditional: false,
                                    async: false,
                                    success: function (data) {
                                        location.reload();
                                    },
                                    error: function () {
                                        console.log("加载失败！");
                                    }
                                });
                            });
                        }
                    }
                },
                error: function () {
                    console.log("加载失败！");
                }
            });
        }
        function setIcon(){
            var $userIcon = $('#userIcon');
            $userIcon.attr("class","bounceInDown");
            $('#userIcon').click(function() {
                className = $(this).attr('class');
                $('#dialogBg').fadeIn(300);
                $('#dialog').removeAttr('class').addClass('animated ' + className + '').fadeIn();
            });
            //关闭弹窗
            $('.claseDialogBtn').click(function() {
                $('#dialogBg').fadeOut(300, function () {
                    $('#dialog').addClass('bounceOutUp').fadeOut();
                });
            });
        }
    </script>
    <!-- Css -->
    <link rel="stylesheet" href="/stylesheets/homepage/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/homepage/font-icons.css" />
    <link rel="stylesheet" href="/stylesheets/homepage/sliders.css" />
    <link rel="stylesheet" href="/stylesheets/homepage/style.css" />
    <link rel="stylesheet" href="/stylesheets/homepage/responsive.css" />
    <link rel="stylesheet" href="/stylesheets/homepage/spacings.css" />
    <link rel="stylesheet" href="/stylesheets/homepage/animate.min.css" />
    <link rel="stylesheet" href="/stylesheets/webuploader.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/webuploader_main.css" />
    <link rel="stylesheet" href="/stylesheets/friendCategory.css" />
    <link rel="stylesheet" href="/stylesheets/cropbox.css" />
    <style>
        .center {
            position: fixed;
            top: 50%;
            left: 50%;
            background-color: #000;
            width:50%;
            height: 50%;
            -webkit-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
        }
    </style>
</head>

<body class="relative">

<!-- Preloader -->
<div class="loader-mask">
    <div class="loader">
        <div></div>
        <div></div>
    </div>
</div>

<div class="main-wrapper oh">

    <header class="nav-type-1 dark-nav">

        <!-- Fullscreen search -->
        <div class="search-wrap">
            <div class="search-inner">
                <div class="search-cell">
                    <form method="get">
                        <div class="search-field-holder">
                            <input type="search" class="form-control main-search-input" placeholder="Search for">
                            <div class="search-submit-icon"><i class="icon icon_search"></i></div>
                            <input type="submit" class="search-submit" value="search">
                        </div>
                    </form>
                </div>
            </div>
            <i class="icon icon_close search-close" id="search-close"></i>
        </div> <!-- end fullscreen search -->

        <nav class="navbar navbar-fixed-top">
            <div class="navigation">
                <div class="container relative">

                    <div class="row">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div> <!-- end navbar-header -->


                        <!-- side menu -->
                        <div class="side-menu nav-left hidden-sm hidden-xs">
                            <!--<img src="/images/logo.png">-->
                            <div class="nav-inner">
                                <!--搜索框-->
                                <div class="nav-search-wrap hidden-sm hidden-xs">
                                    <a href="#" class="nav-search search-trigger">
                                        <i class="icon icon_search"></i>
                                    </a>
                                </div>
                            </div>
                        </div> <!-- end side menu -->

                        <div class="col-md-12 nav-wrap">
                            <div class="collapse navbar-collapse text-center" id="navbar-collapse">

                                <ul class="nav navbar-nav">

                                    <li><a href="/homepage">首页</a></li>
                                    <li><a href="">图片</a></li>
                                    <li><a href="">视频</a></li>
                                    <li><a href="">其他</a></li>

                                    <li id="mobile-search" class="hidden-lg hidden-md">
                                        <form method="get" class="mobile-search">
                                            <input type="search" class="form-control" placeholder="Search...">
                                            <button type="submit" class="search-button">
                                                <i class="icon icon_search"></i>
                                            </button>
                                        </form>
                                    </li>

                                </ul> <!-- end menu -->
                            </div> <!-- end collapse -->
                        </div> <!-- end col -->

                        <!-- side menu -->
                        <div class="side-menu right mobile-left-align">
                            <div class="nav-inner menu-socials social-icons">
                                <div class="right">
                                    <a href="/settings"><%- user %></a>
                                    <a href="/user/logout">注销</a>
                                </div>
                            </div>
                        </div> <!-- end side menu -->

                    </div> <!-- end row -->
                </div> <!-- end container -->
            </div> <!-- end navigation -->
        </nav> <!-- end navbar -->
    </header>
    <!--logo-->
    <section class="header-wrap hero-section bg-light">
        <div class="container">
            <div class="logo-container text-center">
                <div class="logo-wrap">
                    <a href="/homepage">
                        <img class="logo-dark" src="/images/logo2.png" alt="logo">
                        <h1 style="font-size:15px;">世界上最小的摄影交友网站</h1>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <div class="content-wrapper oh">

        <!-- 最近热门图片 -->
        <section class="section-wrap latest-stories pb-0">
            <div class="container-fluid nopadding">

                <div class="heading-row text-center mb-40">
                    <h2 class="heading uppercase small">最近的故事</h2>
                </div>
                <!--滑动栏-->
                <div id="main-slider" class="flickity-slider-wrap">

                    <div class="gallery-cell">
                        <article>
                            <a href="" class="entry-img">
                                <p class="imgWrap">
                                <img id="img1"  >
                                </p>
                                <span id="tag1" class="entry-category"></span> <!--这里写图片标签-->
                            </a>
                            <div class="entry text-center">
                                <h4 id="content1" class="entry-title uppercase"><a href=""></a></h4>
                                <span id="time1" class="entry-date"></span>
                            </div>
                        </article>
                    </div>

                    <div class="gallery-cell">
                        <article>
                            <a href="" class="entry-img">
                                <p class="imgWrap">
                                    <img id="img2"  >
                                </p>
                                <span id="tag2" class="entry-category">Travel</span>
                            </a>
                            <div class="entry text-center">
                                <h4 id="content2" class="entry-title uppercase"><a href="">Vinez Boat Ride</a></h4>
                                <span id="time2" class="entry-date">Jul 14, 2016</span>
                            </div>
                        </article>
                    </div>

                    <div class="gallery-cell">
                        <article>
                            <a href="" class="entry-img">
                                <p class="imgWrap" >
                                    <img id="img3"  >
                                </p>
                                <span id="tag3" class="entry-category">Lifestyle</span>
                            </a>
                            <div class="entry text-center">
                                <h4 id="content3" class="entry-title uppercase"><a href="">Welcome Cannes</a></h4>
                                <span id="time3" class="entry-date">Jul 14, 2016</span>
                            </div>
                        </article>
                    </div>

                    <div class="gallery-cell">
                        <article>
                            <a href="" class="entry-img">
                                <p class="imgWrap">
                                    <img id="img4"  alt="">
                                </p>
                                <span id="tag4" class="entry-category">Beauty</span>
                            </a>
                            <div class="entry text-center">
                                <h4 id="content4" class="entry-title uppercase"><a href="">Elegant &amp; Neutral</a></h4>
                                <span id="time4" class="entry-date">Jul 14, 2016</span>
                            </div>
                        </article>
                    </div>

                    <div class="gallery-cell">
                        <article>
                            <a href="" class="entry-img">
                                <p class="imgWrap">
                                    <img id="img5"  alt="">
                                </p>
                                <span id="tag5" class="entry-category">Lifestyle</span>
                            </a>
                            <div class="entry text-center">
                                <h4 id="content5" class="entry-title uppercase"><a href="">Must Haves</a></h4>
                                <span id="time5" class="entry-date">Jul 14, 2016</span>
                            </div>
                        </article>
                    </div>
                    <div class="gallery-cell">
                        <article>
                            <a href="" class="entry-img">
                                <p class="imgWrap">
                                    <img id="img6"  alt="">
                                </p>
                                <span id="tag6" class="entry-category">Lifestyle</span>
                            </a>
                            <div class="entry text-center">
                                <h4 id="content6" class="entry-title uppercase"><a href="">Must Haves</a></h4>
                                <span id="time6" class="entry-date">Jul 14, 2016</span>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section> <!-- end latest stories -->

        <!-- Content -->
        <section class="content blog-standard">
            <div class="container relative">
                <div class="row">

                    <!-- post content -->
                    <div class="col-md-9 post-content mb-50">

                        <!-- large post -->
                        <article class="entry-item large-post">
                            <div class="entry-header">
                                <a  class="entry-category">Lifestyle</a>
                                <h2 class="entry-title">
                                    <a >Enjoy your PiCUBE from here!</a>
                                </h2>
                            </div>
                            <div id="uploader">
                                <div class="queueList">
                                    <div id="dndArea" class="placeholder">
                                        <div id="filePicker"></div>
                                        <p style="    font-size: 13px;margin-bottom: 30px;">或将照片拖到这里，单次最多可选300张</p>
                                    </div>
                                </div>
                                <div class="statusBar" style="display:none;">
                                    <div class="progress">
                                        <span class="text">0%</span>
                                        <span class="percentage"></span>
                                    </div><div class="info"></div>
                                    <div class="btns">
                                        <!--<input type="button" id="btn" value="开始上传">-->
                                        <div id="filePicker2"></div><div class="uploadBtn">开始上传</div>
                                    </div>
                                </div>
                                <form  class="form" style="    margin: 20px;" action="/upload/commit" method="get">
                                    <input type="text" placeholder="请输入图片描述" name="description">
                                    <input type="text" placeholder="请输入标签" name="tag">
                                    <button class="commitBtn" style="float:right;" >提交记录</button>
                                </form>
                            </div>

                        </article> <!-- end large post -->


            <div id="content">

            </div>
                        <div class="row mt-20">
                            <div class="col-md-12 text-center">
                                <a href="#" class="btn btn-md btn-stroke" id="load-more">Load More</a>
                            </div>
                        </div>


                    </div> <!-- end col -->

                    <!-- Sidebar -->
                    <aside class="col-md-3 sidebar">

                        <div class="widget about-blog text-center">
                            <div class="heading-lines">
                                <h3 class="widget-title heading">About Me</h3>
                            </div>
                            <img src="<%- userIcon %>" align="absmiddle" style="width:110px;margin-top:4px;border-radius:110px;">
                            <p class="mb-20 mt-20">
                                <a style="    font-family: 'Raleway', sans-serif;font-size: 20px;cursor:hand"><%- user %></a></p>
                            <ul class="user_atten clearfix ">
                                <li class="S_line1">
                                    <a bpfilter="page_frame" href="/1987335911/follow?rightmod=1&amp;wvr=6" class="S_txt1">
                                        <strong node-type="follow"><%- followNums %></strong><br>
                                        <span class="S_txt2">关注</span>
                                    </a>
                                </li>
                                <li class="S_line1">
                                    <a bpfilter="page_frame" href="/1987335911/fans?rightmod=1&amp;wvr=6" class="S_txt1">
                                        <strong node-type="fans"><%- fansNums %></strong><br>
                                        <span class="S_txt2">粉丝</span>
                                    </a></li>
                                <li class="S_line1">
                                    <a bpfilter="page_frame" href="/1987335911/profile?rightmod=1&amp;wvr=6&amp;mod=personnumber" class="S_txt1">
                                        <strong node-type="weibo"><%- recordNums%></strong><br>
                                        <span class="S_txt2">微博</span>
                                    </a>
                                </li>
                            </ul>

                        </div>

                        <!-- Newsletter -->
                        <!--<div class="widget newsletter">-->
                            <!--<div class="heading-lines">-->
                                <!--<h3 class="widget-title heading">Newsletter</h3>-->
                            <!--</div>-->
                            <!--<form class="relative newsletter-form">-->
                                <!--<input type="email" placeholder="Your email address">-->
                            <!--</form>-->
                            <!--<input type="submit" value="Subscribe" id="submit-button" class="btn btn-lg btn-color">-->
                        <!--</div>-->

                        <!-- Instagram Feed Grid -->
                        <!--<div class="widget instagram">-->
                            <!--<div class="heading-lines">-->
                                <!--<h3 class="widget-title heading">Instagram</h3>-->
                            <!--</div>-->
                            <!--<ul id="instafeed-grid"></ul>-->
                        <!--</div>-->

                        <!-- Categories -->
                        <div class="widget categories">
                            <div class="heading-lines">
                                <h3 class="widget-title heading">Categories</h3>
                            </div>
                            <ul style="font-size:15px;" id="categories" class="list-dividers">
                                <li>
                                    <a href="#">全部</a><span></span>
                                </li>

                            </ul>
                        </div>



                        <!-- Recent Posts -->
                        <div class="widget recent-posts">
                            <div class="heading-lines">
                                <h3 class="widget-title heading">Recent Posts</h3>
                            </div>
                            <div class="entry-list w-thumbs">
                                <ul class="posts-list list-dividers">
                                    <li class="entry-li">
                                        <article class="post-small clearfix">
                                            <div class="entry-img">
                                                <a href="">
                                                    <img src="img/recent_1.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="entry">
                                                <h3 class="entry-title"><a href="">Best Beaches in Sydney</a></h3>
                                                <ul class="entry-meta list-inline">
                                                    <li class="entry-date">
                                                        <a href="#">19 Mar, 2016</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </article>
                                    </li>
                                    <li class="entry-li">
                                        <article class="post-small clearfix">
                                            <div class="entry-img">
                                                <a href="">
                                                    <img src="img/recent_2.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="entry">
                                                <h3 class="entry-title"><a href="">First Summer Ice Cream</a></h3>
                                                <ul class="entry-meta list-inline">
                                                    <li class="entry-date">
                                                        <a href="#">16 Mar, 2016</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </article>
                                    </li>
                                    <li class="entry-li">
                                        <article class="post-small clearfix">
                                            <div class="entry-img">
                                                <a href="">
                                                    <img src="img/recent_3.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="entry">
                                                <h3 class="entry-title"><a href="">Best Hat for Travel</a></h3>
                                                <ul class="entry-meta list-inline">
                                                    <li class="entry-date">
                                                        <a href="#">16 Mar, 2016</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </article>
                                    </li>
                                    <li class="entry-li">
                                        <article class="post-small clearfix">
                                            <div class="entry-img">
                                                <a href="">
                                                    <img src="img/recent_4.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="entry">
                                                <h3 class="entry-title"><a href="">New Look is Arrived</a></h3>
                                                <ul class="entry-meta list-inline">
                                                    <li class="entry-date">
                                                        <a href="#">16 Mar, 2016</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </article>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Latest Tweets -->
                        <div class="widget categories">
                            <div class="heading-lines">
                                <h3 class="widget-title heading">Latest Tweets</h3>
                            </div>
                            <div class="twitter-slider text-center">
                                <i class="fa fa-twitter twitter-icon"></i>
                                <a href="#">@deothemes</a>
                                <div id="tweets"></div>
                            </div>
                        </div>

                    </aside> <!-- end sidebar -->

                </div> <!-- end row -->
            </div> <!-- end container -->
        </section> <!-- end content -->


        <div id="dialogBg">
        <div id="dialog" class="animated" style="width: 700px;height: 520px;margin: -250px 0 0 -350px;">
            <img class="dialogIco" width="50" height="50" src="images/ico.png" alt="" />
            <div class="dialogTop">
                <a href="javascript:;" class="claseDialogBtn">关闭</a>
            </div>
            <div class="cropbox">
                <div class="container" style="margin: 0;">
                    <div class="imageBox">
                        <div class="thumbBox"></div>
                        <div class="spinner" style="display: none">Loading...</div>
                    </div>
                    <div class="action">
                        <div class="new-contentarea tc">
                            <a href="javascript:void(0)" class="btn btn-md btn-stroke" for="upload-file">
                                上传图像
                            </a>
                            <input type="file" class="" name="upload-file" id="upload-file" />
                        </div>

                        <input type="button" id="btnZoomIn" class="btn btn-md btn-stroke" style="padding:10px 20px;" value="+"  >
                        <input type="button" id="btnZoomOut" class="btn btn-md btn-stroke" style="padding:10px 20px;"  value="-" >
                        <input type="button" id="btnCrop"  class="btn btn-md btn-stroke" style="padding:10px 20px;" value="裁切">
                    </div>
                    <div class="cropped"></div>
                </div>
            </div>
        </div>
    </div>
    </div>

        <!-- Footer Type-1 -->
        <footer class="footer footer-type-1 bg-dark">
            <div class="bottom-footer">
                <div class="container">
                    <div class="row">

                        <div class="col-sm-12 copyright text-center">
                <span>
                  Copyright &copy; 2017.PiCUBE All rights reserved.
                </span>
                        </div>

                    </div>
                </div>
            </div>
        </footer> <!-- end footer -->


        <div id="back-to-top">
            <a href="#top"><i class="fa fa-angle-up"></i></a>
        </div>

    </div> <!-- end content wrapper -->
</div> <!-- end main wrapper -->

<!-- jQuery Scripts -->
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>

<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/plugins.js"></script>
<!--<script type="text/javascript" src="/javascripts/twitterFetcher_min.js"></script>-->
<script type="text/javascript" src="/javascripts/scripts.js"></script>
<script type="text/javascript" src="/javascripts/webuploader.min.js"></script>
<script type="text/javascript" src="/javascripts/webuploader.js"></script>
<script type="text/javascript" src="/javascripts/cropbox.js"></script>
<!-- Instafeed -->
<script type="text/javascript">
    $(window).load(function() {

        var InstafeedRow = new Instafeed({
            target: 'instafeed-row',
            get: 'user',
            userId: '3562688430',
            accessToken: '3562688430.ceddd6d.c54fa5142fa847f89827e5cf9b19d885',
            resolution: 'low_resolution',
            limit: '6',
            template: '<li class="instagram-item"><a target="_blank" href="{{link}}"><img class="instagram-img" alt="Instagram Image" src="{{image}}"></a></li>'
        });

        var InstafeedGrid = new Instafeed({
            target: 'instafeed-grid',
            get: 'user',
            userId: '3562688430',
            accessToken: '3562688430.ceddd6d.c54fa5142fa847f89827e5cf9b19d885',
            resolution: 'low_resolution',
            limit: '9',
            template: '<li class="instagram-item"><a target="_blank" href="{{link}}"><img class="instagram-img" alt="Instagram Image" src="{{image}}"></a></li>'
        });

        InstafeedRow.run();
        InstafeedGrid.run();

    });
</script>


</body>
</html>
